* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: fit-content;
    padding: 4px;
    background: white;
    z-index: 2;
}

#header_logo {
    font-family: UniviaPro-Medium, sans-serif;
    font-size: 50px;
    color: #f9f9f9;
    text-shadow: 6px -1px 10px #4674b4;
}

.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "UniviaPro-Medium", sans-serif;
    font-size: 13px;
    color: #2e6ba1;
}

.header_menu-item {
    margin: 10px;
    color: inherit;
    text-decoration: none;
}

#main {
    margin: 68px 0;
}

section {
    margin: 70px 0;
}

#about {
    background: rgba(232, 232, 232, 0.74);
    margin-top: 0;
    padding-top: 20px;
}

#about h2 {
    text-align: center;
    font-size: 72px;
    color: #ffb652;
    font-family: "BebasNeue Book", sans-serif;
    font-weight: 200;
}

.about_item {
    margin: 120px 0 150px;
}

.about_item-heading {
    font-family: "BebasNeue Bold", sans-serif;
    font-size: 45px;
    color: white;
    background: rgba(255, 159, 23, 0.74);
    height: fit-content;
    display: flex;
    justify-content: flex-start;
}

.about_item-heading p {
    display: inline-block;
}

.about_item-heading img {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 100px;
}

#about .about_item:nth-child(2) .about_item-heading {
    width: 30%;
    padding: 15px 15px 15px 200px;
    margin-left: 40%;
}

#about .about_item:nth-child(3) .about_item-heading {
    width: 25%;
    padding: 20px 0px 15px 20px;
    margin-left: 15%;
    background: rgba(79, 204, 164, 0.71);
}
#about .about_item:nth-child(3) .about_item-heading img {
    margin-left: 14%;
}

#about .about_item:nth-child(4) .about_item-heading {
    padding: 17px 0 17px 50px;
    margin-left: 50%;
}

.about_item-container {
    font-family: "Ubuntu-Light", sans-serif;
    font-size: 13px;
    background: white;
    font-weight: 400;
    color: #616161;
}

.about_item-container p {
    margin: 10px 0;
    line-height: 17px;
}

.about_item-container li {
    margin: 10px 0;
}

#about .about_item:nth-child(2) .about_item-container {
    padding: 30px 120px 30px 40px;
    margin: 140px 0 100px 50%;
}

#about .about_item:nth-child(3) .about_item-container {
    padding: 40px 20px 40px 200px;
    margin: 80px 50% 100px 0;
}

#about .about_item:nth-child(4) .about_item-container {
    padding: 60px 100px 70px 120px;
    margin: 60px 20% 100px 40%;
}

#about h3 {
    text-align: center;
    font-size: 40px;
    color: #292a70;
    font-family: "BebasNeue Bold", sans-serif;
    margin-bottom: 40px;
}

#about h4 {
    font-size: 20px;
    color: #292a70;
    font-family: "Ubuntu-Bold", sans-serif;
    width: 40%;
    margin: 20px 0;
    line-height: 25px;
}

.about_program {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 20% 100px 20%;
}

.about_program-div {
    font-family: "Ubuntu-Light", sans-serif;
    color: #292a70;
    font-size: 12px;
    margin: 0 20px;
    width: 50%;
    line-height: 17px;
}

.about_program-div p {
    margin: 10px 0;
}

.about_program-div li {
    font-family: "Ubuntu-Bold", sans-serif;
    margin: 10px 0;
}

.about_workflow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 60px;
}

.about_workflow span {
    display: block;
    width: 70%;
    height: 600px;
    background: #bec5f5;
}

#faq {
    background: white;
}

#faq h2 {
    font-family: "BebasNeue Book", sans-serif;
    font-size: 56px;
    text-align: center;
    font-weight: 200;
    color: #52ccc1;
}

.faq_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px 0;
}

.faq_menu {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 40px;
    color: #52ccc1;
    font-family: "Ubuntu-Bold", sans-serif;
    font-size: 13px;
}

.faq_menu-item {
    padding: 12px 25px;
    cursor: pointer;
}

.faq_menu-item-selected {
    background: #52ccc1;
    color: white;
    padding: 12px 25px;
    cursor: pointer;
}

.faq_content {
    width: 70%;
}

.faq_content_logo {
    margin-right: 15px;
}

.faq_content_logo img {
    min-width: 20px;
    min-height: 20px;
    vertical-align: top;
    border-radius: 50%;
    background: #52ccc1;
}

.faq_content-item {
    border-bottom: #52ccc1 1px solid;
    padding: 5px;
    font-family: "Ubuntu-R", sans-serif;
    font-size: 11px;
    color: #505050;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.faq_content-item:first-child {
    border-top: #52ccc1 1px solid;
    border-bottom: #52ccc1 1px solid;
}

.faq_content-item h4 {
    color: #52ccc1;
    font-size: 15px;
    font-family: "Ubuntu-R", sans-serif;
    font-weight: 500;
    width: fit-content;
    cursor: pointer;
}

.faq_content-item p {
    margin: 10px 0 5px 0;
}

.startup {
    margin: 75px 0 30% 0;
    position: relative;
    height: fit-content;
}

.startup_background, .startup h3, .startup_container {
    position: absolute;
}

.startup_background {
    background: #52ccc1;
    transform: rotate(-2deg);
    width: 100%;
    height: 350px;
}

.startup h3 {
    top: 50px;
    text-align: center;
    width: 100%;
    font-family: "BebasNeue Bold", sans-serif;
    font-size: 36px;
    color: white;
}

.startup_container {
    top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.startup_left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-top: 30px;
    margin-left: 35px;
}

.startup_logo {
    margin: 0 15px;
    text-align: center;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: rgba(255, 255, 255, 0.85);
}

.startup_logo p {
    margin-top: 15px;
    font-family: "BebasNeue Bold", sans-serif;
    font-size: 28px;
    color: #52ccc1;
}

.startup_center {
    margin: 0 4% 0 8%;
    border-radius: 50%;
    min-width: 150px;
    height: 150px;
    background: midnightblue;
    font-family: "MyriadPro-Regular", sans-serif;
    font-weight: bold;
    font-style: italic;
    position: relative;
}

.startup_center-container {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 12%;
    font-size: 35px;
    color: #f1e97f;
}

.startup_center-container p {
    transform: rotate(-8deg);
    margin: -13px 0;
}

.startup_center-container p:nth-child(2) {
    margin-left: 8px;
}

.startup_center-container p:nth-child(3) {
    margin-left: 10px;
}

.startup_right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Ubuntu-Bold", sans-serif;
    width: fit-content;
}

.startup_right-item {
    color: midnightblue;
    font-size: 25px;
    margin: 0 20px;
}

.startup_right-center {
    color: midnightblue;
    font-size: 25px;
    padding: 15px 60px;
    background: #f1e97f;
    border-radius: 6px;
    box-shadow: 0 0 10px;
}

#people {
    margin-top: 330px;
    background: white;
}

#people h2 {
    text-align: center;
    font-size: 80px;
    color: #52ccc1;
    font-family: "BebasNeue Book", sans-serif;
    font-weight: 200;
    padding-bottom: 30px;
}

#slide {
    margin-bottom: 60px;
}
